body {
    font-family: "helvetica neue";


}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

P.THICK {
    font-weight: thin;
    font-family: 'EB Garamond',serif;
    font-size: 18px;
}   



.INFO  {
    
  font-weight: thin;
  position: absolute;
  margin-top: 0vh;
  left: 50px;
  margin-bottom: 120px;
  right: 20px;
  font-family: 'EB Garamond',serif;
  font-size: 16px;
}

.contactme {
    font-family: 'roboto condensed', sans serif;
    font-size: 12px;
    /*left: 20px;*/
    padding-left: 50px;
    padding-top: 75px;
   transition: all 0.5s;

}

.contactme a {

    color: black;
    letter-spacing: 0.06em;
    text-decoration: none;
    line-height: 120%;
    transition: all 0.5s;
}

.contactme a:hover {
    color: red;
    letter-spacing: 0.05em;
    padding-left: 3px;
    transition: letter-spacing 0.2s;
    transition: all 0.2s;
    transition: ease;
}

.contactme a:visited {
    text-decoration: none;
}



.navigation {
    
   
    list-style-type: none;
    /*font-size: 18px;*/
    display: inline-block;
    word-spacing: 0.5em;
    
}



.middle {
 
 
  top: 0%;
  left: 0%;
  
}

.baby {

    margin-right: 175px;
    
}

.one {
     padding-left: 0px;
    letter-spacing: 0.5em;
    display: inline-block;
}


.navigation li  {
    display: inline-block;
    
}

.one a {
    color: black;
    text-decoration: none;
    line-height: 250%;
    transition: letter-spacing 0.5s;
     transition: all 0.2s;
    letter-spacing: 0.3em;

}

.one a:hover {
    color: red;
    letter-spacing: 0.25em;
    transition: letter-spacing 0.5s;
    transition: ease;
     transition: all 0.2s;

}

.two a {
    color: black;
    text-decoration: none;
    line-height: 300%;
    transition: letter-spacing 0.5s;

    letter-spacing: 0.1em;
}

.two a:hover {
    color: red;
    letter-spacing: 0.05em;
    transition: letter-spacing 0.2s;
    transition: ease;
}

.navigation a:visited {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 12px;
    display: none;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }

    .middle {position: fixed;}
    .navigation li {
        display: block;
        font-size: 12px;

    }

  .contactme { position: fixed;
   right: 30px;
   font-size: 12px;
   top: 35px;
   padding-top: 15px;
    align-content: right;}

  .contactme {


  /*float: right;
 padding-top: 50px;
  padding-right: 50px;*/
  transition: all 0.5s;
  font-size: 16px;

}


    .INFO 

    {

        top: 0PX;
        left: 175px;
        right: 200px;
        margin-top: 20px;
        font-size: 18px;
        font-family: 'EB Garamond', serif;
        padding-bottom: 1000px;
        padding-top: 50px;
 

    }

  
   

    ::-webkit-scrollbar {
        width: 12px;
        display: none;
    }

}



