body {
    font-family: Verdana, Geneva, sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

	
.INFO  {
  position: absolute;
  margin-top: 30px;
  left: 200px;
  margin-bottom: 120px;
  font-family: garamond;
  font-size: 25px;
}


.navigation {
    position: fixed;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 25px;
}

.navigation li {
    display: block;
    margin-right: 20px;
    font-size: 25px;
}

.navigation a {
    color: black;
    text-decoration: none;
    line-height: 150%;
    transition: all 0.5s;
}

.navigation a:hover {
    color: black;
    letter-spacing: 0.5px;
    padding-left: 3px;
    transition: letter-spacing 0.2s;
    transition: all 0.2s;
    transition: ease;
}

.navigation a:visited {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 12px;
    display: none;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }

    .navigation li {
        display: block;
        font-size: 16px;
    }



    .INFO {
        margin top:100px;
        border-left: 100px;
        margin-top: 20px;
        font-size: 16px;

    }

  
   

    ::-webkit-scrollbar {
        width: 12px;
        display: none;
    }

}



