body {
    font-family: 'roboto condensed', sans serif;


}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

P.THICK {
    font-weight: bold;
}	



.INFO  {
  position: absolute;
  margin-top: 100px;
  left: 200px;
  margin-bottom: 120px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}

.contactme {
    font-family: 'roboto condensed', sans serif;
}
.contactme {
  position: relative;
  left: 200px;
  top: 60px;
  


}

.contactme a {

    color: black;
    text-decoration: none;
    line-height: 150%;
    transition: all 0.5s;
}

.contactme a:hover {
    color: black;
    letter-spacing: 0.5px;
    padding-left: 3px;
    transition: letter-spacing 0.2s;
    transition: all 0.2s;
    transition: ease;
}

.contactme a:visited {
    text-decoration: none;
}



.navigation {
    position: fixed;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 25px;
}

.navigation li {
    display: block;
    margin-right: 20px;
    font-size: 25px;
}

.navigation a {
    color: black;
    text-decoration: none;
    line-height: 150%;
    transition: all 0.5s;
}

.navigation a:hover {
    color: black;
    letter-spacing: 0.5px;
    padding-left: 3px;
    transition: letter-spacing 0.2s;
    transition: all 0.2s;
    transition: ease;
}

.navigation a:visited {
    text-decoration: none;
}



::-webkit-scrollbar {
    width: 12px;
    display: none;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }

    .navigation li {
        display: block;
        font-size: 16px;
    }



    .INFO 
    {

        top: 150PX;
        margin-top: 20px;
        font-size: 18px;
        font-family: 'Cormorant Garamond', serif;
 

    }

  
   

    ::-webkit-scrollbar {
        width: 12px;
        display: none;
    }

}



