
/*GITHUb*/

html {
   
}



body {
  font-family: 'Raleway', sans-serif; font-size: 22px;/*"helvetica neue";*/  
  opacity: none;
  transition: 5s opacity 40;
}

body.fade {
    opacity: 70;
    transition: none;
}



html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
}


.imagecontainer 

{


  padding-left: 200px;
  padding-top: 75px;
  padding-bottom: 500px;
  padding-right: 150px;
  
}


.button  {
      font-family: 'Raleway', sans-serif;
      background-color: white;
      border: none;
      outline: none;
      color: white;
      width: 7em;
      height: 2em;
      text-align: left;
      text-decoration: none;
      display: inline-block;
      margin: 7px /*2px*/;
      letter-spacing: 0.25em;
  }


.button a {
  border: none;
  outline: none;
  color: black;
  width: 5em;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  /*margin: 4px /*2px*/;*/
  cursor: pointer;
}




.button:hover {

    
    width: 5.5em;
    transition: all 0.2s;
    color: red;
    letter-spacing: 0.1em;
    transition: letter-spacing 0.5s;
    transition: ease;
    transition: all 0.2s;
}

.three  {
list-style: none;
}




